@media (max-width: 650px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 651px), print {
  .cornerPic > img {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}
@media (min-width: 651px) {
  html {
    font-size: 1.6vw;
  }
}
@media print {
  html {
    font-size: 10px;
  }
}
* {
  box-sizing: border-box;
}
a {
  overflow-wrap: break-word;
}
.band {
  background-color: lightgray;
}
.band,
.rowTablesCircled,
.section-subhead {
  margin-top: 1rem;
}
body {
  background: #eee;
  margin: 3rem 3rem;
}
.boxedBulletList {
  padding-bottom: 0.5rem;
  border-style: solid;
  border-width: 1px;
}
.boxedBulletList + .boxedBulletList {
  margin-top: -1px;
}
.boxedBulletList > h1 {
  margin-top: 0.1rem;
}
.caps {
  text-transform: uppercase;
}
caption {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.center,
.compact {
  text-align: center;
}
.compact {
  padding: 0 3rem 2rem 3rem;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 50%;
  border-color: #33444433;
}
.cornerPic {
  text-align: center;
}
.cornerPic > img {
  width: 8rem;
}
h1 {
  margin: 0.5rem 0 0 0.5rem;
  color: #344;
}
.left {
  text-align: left;
}
li,
td {
  font-size: 1.2rem;
}
p {
  margin: 0.3rem 0 0.8rem 0.5rem;
}
p.size1,
p.size2 {
  font-weight: bold;
}
.rowTable ~ .rowTable {
  margin-top: 0.1rem;
}
.rowTablesCircled {
  display: flex;
  justify-content: center;
}
.rowTablesCircled td {
  padding-right: 0.3rem;
}
section:not(.boxedBulletList) + .boxedBulletList,
.section-head {
  margin-top: 2rem;
}
.size1 {
  font-size: 2.2rem;
}
.size2 {
  font-size: 2rem;
  font-style: italic;
}
.size3 {
  font-size: 1.8rem;
}
.size4 {
  font-size: 1.6rem;
  font-style: italic;
}
.size5 {
  font-size: 1.4rem;
}
.size6 {
  font-size: 1.2rem;
  font-style: italic;
}
.size7,
p {
  font-size: 1rem;
}
strong,
.strong {
  font-weight: bold;
}
table {
  margin: 0.5rem auto 0 auto;
  border-collapse: collapse;
}
.tableLH th {
  text-align: right;
  padding-right: 0.5rem;
}
td {
  padding: 0.2rem;
  border-style: solid;
  border-width: 1px;
  border-color: slategray;
  text-align: left;
}
.theme-credit {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
.tight {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0.25rem 0;
}
.under {
  margin-top: 0;
}
