#basics-contact th {
  text-align: left;
}
#basics-contact-table th {
  padding-right: 1rem;
  text-align: right;
}
#basics-details {
  font-size: 1.2rem;
}
#basics-name {
  font-weight: bolder;
}
#basics-picture {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
#basics-picture > img {
  width: 8rem;
}
#basics-profiles-table {
  margin-bottom: 1rem;
}
#basics-subSummary td {
  padding: 0.2rem 1rem;
}
#basics-summary {
  display: block;
  font-weight: bolder;
  color: navy;
}
#basics-summary-container {
  display: flex;
  justify-content: center;
}
#basics-summary-content {
  padding: 0 3rem 2rem 3rem;
  margin-top: 1rem;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 50%;
  border-color: blueviolet;
  border-image-source: radial-gradient(ellipse, green blue);
}
body {
  background: #eee;
  margin: 3rem 3rem;
}
#credit {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
.em {
  font-weight: bolder;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 0 0.3rem;
}
h1,
.h1c {
  font-size: 2rem;
  color: #039;
}
h2,
.h2c {
  font-size: 1.9rem;
  font-style: italic;
  color: #026;
}
h3,
.h3c {
  font-size: 1.8rem;
  color: #013;
}
h4,
.h4c {
  font-size: 1.7rem;
  font-style: italic;
  color: #000;
}
h5,
.h5c {
  font-size: 1.6rem;
  color: #111;
}
h6,
.h6c {
  font-size: 1.5rem;
  font-style: italic;
  color: #222;
}
h7,
.h7c {
  font-size: 1.4rem;
  color: #333;
}
.h1c,
.h2c,
.h3c,
.h4c,
.h5c,
.h6c {
  margin-top: 1rem;
  text-align: center;
}
.h7c {
  margin-top: 0;
  text-align: center;
}
html {
  font-size: 1.4vw;
}
p {
  display: list-item;
  list-style: inside;
  margin: 0.3rem 0 0 0;
  padding-left: 0.7rem;
  font-size: 1.2rem;
}
section.level1 {
  border-color: slategray;
}
section.level2 {
  margin: 0.5vw;
  border-color: mediumslateblue;
}
section.level3 {
  margin: 0.5vw;
  border-color: mediumturquoise;
}
section.level1,
section.level2,
section.level3 {
  padding-bottom: 0.3rem;
  border-style: solid;
  border-width: 1px;
}
section.level1 > section:first-child > h1,
section.level2 > section:first-child > h2,
section.level3 > section:first-child > h3 {
  margin-top: 0;
}
.list-item {
  position: relative;
  left: -0.5rem;
}
table {
  margin: 1rem auto 0 auto;
  border-collapse: collapse;
}
td {
  padding: 0.2rem;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
